*{
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.home-banner-container{
    width: 100vw;
    margin: auto;
    overflow: hidden;
}
.home-banner-slides{
    display: flex;
    width: 100%;
    height: 100vh;
}

.home-banner-slide-1{
    background: url("url_here_for Backgroung") no-repeat;
    background-position: center;
    background-size: cover;
    
}

.home-banner-slide-2{
    background: url("url_here_for Backgroung") no-repeat;
    background-position: center;
    background-size: cover;
    
}

.home-banner-slide-2 svg {
    width: 70%;
    height: auto;
}

.home-banner-opacity{
    position: relative;
    width: 100vw;
    grid-template-columns: 40% 60%;
    background-color: rgba(11, 45, 89, 0.5);
    height: 100vh;
    display: grid;
    align-items: center;
    padding-left: 10%;
    color: #ffffff;
}

#prev-button{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 3%;
}

#next-button{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 93%;
}

.home-banner-opacity-button {
    background-color: transparent;
    color: white;
    font-size: 1rem;
    opacity: 0.5;
    cursor: pointer;
}
.home-banner-opacity-button :hover{
    transition: transform 0.4s ease-out;
    transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
    .home-banner-opacity{
        width: 100vw;
        grid-template-columns: 70% 30%;
    }
    .home-banner-slide-2 svg {
        visibility: hidden;
    }

  }

  @media only screen and (max-width: 360px) {
    .home-banner-opacity{
        width: 100vw;
        grid-template-columns: 1fr;
        padding: 0 10%;
    }

    #prev-button{
        position: absolute;
        top: 80%;
        z-index: 10;
        left: 3%;
    }

    #next-button{
        position: absolute;
        top: 80%;
        z-index: 10;
        left: 85%;
    }
  }